{
    "headers": {
        "Authorization": "Bearer eyJh...",
        "Cookie": ""
    },
    "proxies": [
        {
            "http": "socks4://89.161.90.203:5678",
            "https": "socks4://89.161.90.203:5678"
        },
        {
            "http": "http://57.128.201.50:3128",
            "https": "http://57.128.201.50:3128"
        }
    ]
}